# =========================
# Dependencies
# =========================
node_modules/
.pnpm-store/

# =========================
# Build Artifacts & Caches
# =========================
.turbo/
.expo/
.next/
.vercel/
dist/
out/
build/
web-build/
*.tsbuildinfo

# =========================
# Environment & Config Files
# =========================
.env
.env.*
!.env.example

# =========================
# Types & Frameworks
# =========================
next-env.d.ts
expo-env.d.ts

# =========================
# OS & Editor Files
# =========================
.DS_Store
.idea/
*.swp

# =========================
# Debug & Logs
# =========================
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.log*
.metro-health-check*

# =========================
# Native Platform (Android/iOS)
# =========================
ios/
android/
.gradle/
**/modules/**/android/.gradle/
**/modules/**/android/build/
*.apk
*.aab
*.orig.*

# =========================
# Certificates & Keys
# =========================
*.pem
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# =========================
# Firebase Config Files
# =========================
google-services.json
GoogleService-Info.plist

notes.md
