# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.gradle/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# Included in EAS build
# google-services.json
# GoogleService-Info.plist

# env files
.env.local

# platforms
/ios
/android

# Module Android build artifacts
modules/**/android/.gradle/
modules/**/android/build/
